

body
{
background-color:linen;
background-image:url("/home/6CSE1/Desktop/s.jpeg");
background-repeat:repeat;
background-attachment:fixed;
background-attachment:scroll;
}
h1{
color:maroon;
margin-left:40px;
background-color:pink;
}
p{
background-color:pink;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:40px;
font-weight:bold;
font-weight:bolder;
font-weight:5000000;
}

p.new{
background-color:red;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
text-align:center;
}

#id1{color:green;
margin :25px 50px 75px 100px;}

.mycolour{text-align:center;
background-color:yellow;}

p.one{
border-style:solid;
border-color:red;
}

p.two{
border-style:solid;
border-color:green;
}

p.three{
border-style:solid;
border-color:red green blue yellow;
}

p.id{
border-left:6px solid blue;
background-color:lightgrey;
margin :25px 50px 75px 100px;
div
width:30px;
margin:auto;
border:1px solid red;
padding:25px 50px 75px 89px;
}


div{
width:300px;
padding:75px;
border:3px solid green;
margin:35px;
}
span{
display:block;}

span.a{
display:inline;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}


span.b{
display:inline-block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}


span.c{
display:block;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}

p5{
background-color:red;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:40px;
font-weight:bold;
font-weight:bolder;
font-weight:5000000;
}

a:link{
color:red;
}

a:visited{
color:green;
}

a;hover{
color:hotpink;
}

a:active{
color:blue;
}
div{
border-left:6px solid white;
background-color:lightgrey;
width:300px;
padding:75px;
border:3px solid green;
margin:35px;
}
